@mixin noto() {
	font-family: 'Noto Sans KR', sans-serif;
}

@mixin maven() {
	font-family: 'Maven Pro', sans-serif;
}

@mixin lato() {
	font-family: 'Lato', sans-serif;
}

@mixin playfd() {
	font-family: 'Playfair Display', serif;
}

.noto {
	@include noto();
}

.maven {
	@include maven();
}

.lato {
	@include maven();
}

.playfd {
	@include playfd();
}

h1, h2, h3,h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

ul, ol {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

dl {
    margin-bottom: 0;
}

address {
    margin-bottom: 0;
}

@mixin transition($property: all, $duration: .15s, $timing: linear, $delay: 0s) {
	-webkit-transition-property: $property;
    transition-property: $property;
	-webkit-transition-duration: $duration;
    transition-duration: $duration;
	-webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
	-webkit-transition-delay: $delay;
    transition-delay: $delay;
}