.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

.lato {
  font-family: 'Maven Pro', sans-serif; }

.playfd {
  font-family: 'Playfair Display', serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

#nav {
  z-index: 9000;
  position: fixed;
  top: 0;
  right: -100%;
  padding-top: 86px;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  #nav > header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86px; }
    #nav > header .logo {
      height: 50px; }
      #nav > header .logo h1 {
        position: absolute;
        top: 8px;
        left: 10px;
        width: 88px;
        height: 38px; }
        #nav > header .logo h1 a {
          display: block;
          width: 100%;
          height: 100%; }
          #nav > header .logo h1 a img {
            display: block;
            width: 100%;
            height: 100%; }
      #nav > header .logo #btn-close-nav {
        position: absolute;
        top: 8px;
        right: 12px;
        padding: 10px;
        border: 0; }
        #nav > header .logo #btn-close-nav img {
          display: block;
          width: 14px;
          height: 14px; }
    #nav > header .util {
      height: 36px; }
      #nav > header .util ul li {
        float: left;
        width: 25%;
        height: 36px;
        background-color: #2d2d2d; }
        #nav > header .util ul li a {
          display: block;
          width: 100%;
          height: 100%;
          color: #fff;
          text-align: center;
          line-height: 36px;
          font-family: 'Maven Pro', sans-serif;
          font-size: 13px; }
        #nav > header .util ul li + li {
          border-left: 1px solid rgba(255, 255, 255, 0.2); }
  #nav > .menu {
    overflow: auto;
    height: 100%; }
    #nav > .menu > ul > li > a {
      display: block;
      padding: 10px 40px 10px 20px;
      font-size: 15px;
      font-family: 'Maven Pro', sans-serif;
      line-height: 30px;
      border-bottom: 1px solid #f2f2f2;
      color: #2b2b2b;
      font-weight: bold; }
      #nav > .menu > ul > li > a:after {
        position: absolute;
        right: 20px;
        font-family: "fontello";
        content: "\E800";
        font-size: 24px; }
    #nav > .menu > ul > li > ul {
      display: none;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #d2c7b3; }
      #nav > .menu > ul > li > ul > li > a {
        display: block;
        padding: 5px 20px 5px 40px;
        line-height: 30px;
        font-size: 14px;
        font-family: 'Maven Pro', sans-serif;
        font-weight: bold;
        color: #fff; }
      #nav > .menu > ul > li > ul > li.active > a {
        position: relative;
        padding-left: 65px; }
        #nav > .menu > ul > li > ul > li.active > a span {
          border-bottom: 1px solid #fff; }
        #nav > .menu > ul > li > ul > li.active > a:before {
          position: absolute;
          left: 40px;
          font-family: "fontello";
          content: "\E806";
          font-weight: 100; }
    #nav > .menu > ul > li.active > a {
      border-bottom: 0; }
      #nav > .menu > ul > li.active > a:after {
        content: "\E803"; }
    #nav > .menu > ul > li.active > ul {
      display: block; }

body.nav-opened #nav {
  right: 0; }

#visual .bx-wrapper {
  position: relative; }
  #visual .bx-wrapper .bx-viewport ul li a .img-responsive {
    margin: 0 auto; }
  #visual .bx-wrapper .bx-controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center; }
    #visual .bx-wrapper .bx-controls .bx-pager {
      display: inline-block; }
      #visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
        display: inline; }
        #visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
          float: left;
          width: 11px;
          height: 11px;
          border: 1px solid #fff;
          border-radius: 50%; }
          #visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
            background-color: #fff; }
        #visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item + .bx-pager-item .bx-pager-link {
          margin-left: 7px; }

.product-content {
  margin-top: 20px;
  margin-bottom: 40px; }
  .product-content header {
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }
    .product-content header h4 {
      margin-bottom: 15px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 22px;
      line-height: 30px; }
    .product-content header .sorter {
      position: absolute;
      top: 10px;
      right: 10px; }
      .product-content header .sorter li {
        float: left; }
        .product-content header .sorter li .column:before {
          font-family: "fontello";
          color: #c6c6c7;
          line-height: 16px; }
        .product-content header .sorter li .column.selected:before {
          color: #998675; }
        .product-content header .sorter li .column-1:before {
          content: "\E812";
          font-size: 18px; }
        .product-content header .sorter li .column-2:before {
          content: "\E80E";
          font-size: 16px; }
        .product-content header .sorter li .column-3:before {
          content: "\E811";
          font-size: 16px; }
        .product-content header .sorter li + li {
          margin-left: 7px; }
  .product-content .product-list {
    margin-bottom: 15px; }
    .product-content .product-list li {
      margin-bottom: 20px; }
      .product-content .product-list li .product-item figure .img-responsive {
        margin: 0 auto; }
      .product-content .product-list li .product-item figure figcaption {
        margin-top: 15px;
        text-align: center; }
        .product-content .product-list li .product-item figure figcaption h5 {
          font-size: 12px;
          line-height: 16px;
          font-weight: normal;
          color: #333; }
        .product-content .product-list li .product-item figure figcaption .price {
          font-family: 'Maven Pro', sans-serif;
          font-size: 12px;
          font-weight: bold;
          color: #333; }
      .product-content .product-list li.hidden {
        display: none; }
    .product-content .product-list.product-list-1 {
      padding-left: 10px;
      padding-right: 10px; }
    .product-content .product-list.product-list-2 {
      overflow: hidden;
      padding-left: 10px;
      padding-right: 10px; }
      .product-content .product-list.product-list-2 li {
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        width: 50%; }
        .product-content .product-list.product-list-2 li:nth-of-type(2n+1) {
          clear: both; }
    .product-content .product-list.product-list-3 {
      overflow: hidden;
      padding-left: 10px;
      padding-right: 10px; }
      .product-content .product-list.product-list-3 li {
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        width: 33.33%; }
        .product-content .product-list.product-list-3 li:nth-of-type(3n+1) {
          clear: both; }
  .product-content .more {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    height: 40px;
    border: 1px solid #b6b6b6;
    font-size: 12px;
    line-height: 38px;
    text-align: center; }

#design-line h4 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #2b2b2b;
  letter-spacing: 1px; }
#design-line hr {
  margin: 15px auto 20px;
  width: 40px;
  border-top-color: #2b2b2b; }
#design-line ul {
  overflow: hidden; }
  #design-line ul li {
    float: left;
    width: 50%;
    height: 80px; }
    #design-line ul li a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 80px;
      text-align: center;
      font-family: 'Maven Pro', sans-serif;
      font-weight: bold;
      color: #fff;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100% auto; }
      #design-line ul li a.line-up-1 {
        background-image: url(/design/playtex/mobile/images/main/img_lineup_1.jpg); }
      #design-line ul li a.line-up-2 {
        background-image: url(/design/playtex/mobile/images/main/img_lineup_2.jpg); }
      #design-line ul li a.line-up-3 {
        background-image: url(/design/playtex/mobile/images/main/img_lineup_3.jpg); }
      #design-line ul li a.line-up-4 {
        background-image: url(/design/playtex/mobile/images/main/img_lineup_4.jpg); }
      #design-line ul li a.line-up-5 {
        background-image: url(/design/playtex/mobile/images/main/img_lineup_5.jpg); }
      #design-line ul li a.line-up-6 {
        background-image: url(/design/playtex/mobile/images/main/img_lineup_6.jpg); }

#hours {
  margin-top: 20px;
  height: 290px;
  background-color: #f1f1f1; }

#eighteen-hours {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  height: 290px; }
  #eighteen-hours .bg-panel {
    position: absolute;
    width: 100%;
    height: 0; }
    #eighteen-hours .bg-panel.top {
      top: 0;
      background-color: #f1f1f1;
      background-image: url(/design/playtex/mobile/images/main/txt_18hours.png);
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 220px auto; }
    #eighteen-hours .bg-panel.bottom {
      bottom: 0;
      background-color: #eae1d5; }
  #eighteen-hours .hours {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    opacity: .1; }
    #eighteen-hours .hours .arrow {
      width: 100%;
      height: 100%;
      background-image: url(/design/playtex/mobile/images/main/ico_circle_arrow.png);
      background-repeat: no-repeat;
      background-size: 100% auto;
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg); }
    #eighteen-hours .hours .point {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      #eighteen-hours .hours .point > div {
        position: absolute;
        background-color: #111; }
      #eighteen-hours .hours .point .top {
        top: 10px;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: 4px;
        opacity: 0; }
      #eighteen-hours .hours .point .right {
        top: 50%;
        margin-top: -1px;
        right: 10px;
        width: 4px;
        height: 2px;
        opacity: 0; }
      #eighteen-hours .hours .point .bottom {
        bottom: 10px;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: 4px;
        opacity: 0; }
      #eighteen-hours .hours .point .left {
        top: 50%;
        margin-top: -1px;
        left: 10px;
        width: 4px;
        height: 2px;
        opacity: 0; }
    #eighteen-hours .hours .count {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-family: 'Lato', sans-serif;
      text-align: center;
      line-height: 70px;
      font-weight: 700;
      color: #111;
      font-size: 28px; }
  #eighteen-hours .woman {
    position: absolute;
    bottom: 0; }
    #eighteen-hours .woman.left {
      left: -100%;
      margin-left: -150px;
      width: 155px;
      height: 241px;
      background-image: url(/design/playtex/mobile/images/main/img_woman_left.png);
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: 50% 0; }
    #eighteen-hours .woman.right {
      right: -100%;
      margin-right: -190px;
      width: 197px;
      height: 242px;
      background-image: url(/design/playtex/mobile/images/main/img_woman_right.png);
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: 0 0; }
    #eighteen-hours .woman .feature-icon {
      position: absolute;
      width: 10px;
      height: 10px;
      background-image: url(/design/playtex/mobile/images/main/ico_plus_circle.png);
      background-repeat: no-repeat;
      background-size: cover; }
    #eighteen-hours .woman .feature-icon-1 {
      top: 102px;
      left: 42px;
      opacity: 0; }
    #eighteen-hours .woman .feature-icon-2 {
      top: 134px;
      left: 77px;
      opacity: 0; }
    #eighteen-hours .woman .feature-icon-3 {
      top: 105px;
      left: 72px;
      opacity: 0; }
    #eighteen-hours .woman .feature-icon-4 {
      top: 197px;
      left: 80px;
      opacity: 0; }
  #eighteen-hours .feature-item {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
    #eighteen-hours .feature-item .feature-content {
      display: table-cell;
      padding: 20px;
      text-align: center;
      vertical-align: middle; }
      #eighteen-hours .feature-item .feature-content .feature-body {
        position: relative;
        background-color: #9b876e; }
        #eighteen-hours .feature-item .feature-content .feature-body .btn-close {
          position: absolute;
          top: -10px;
          right: -10px;
          color: #fff;
          font-size: 14px; }
        #eighteen-hours .feature-item .feature-content .feature-body p {
          padding: 20px;
          color: #fff;
          font-size: 12px;
          line-height: 20px; }
    #eighteen-hours .feature-item.selected {
      display: table; }
  #eighteen-hours.on .bg-panel.top {
    height: 50%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  #eighteen-hours.on .bg-panel.bottom {
    height: 50%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  #eighteen-hours.on .hours {
    opacity: 1;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 2s;
    transition-delay: 2s; }
    #eighteen-hours.on .hours .arrow {
      transform: rotate(0deg);
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 2s;
      transition-duration: 2s;
      -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      -webkit-transition-delay: 2.5s;
      transition-delay: 2.5s; }
    #eighteen-hours.on .hours .point .top {
      opacity: 1;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 2s;
      transition-delay: 2s; }
    #eighteen-hours.on .hours .point .right {
      opacity: 1;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 2.5s;
      transition-delay: 2.5s; }
    #eighteen-hours.on .hours .point .bottom {
      opacity: 1;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 3s;
      transition-delay: 3s; }
    #eighteen-hours.on .hours .point .left {
      opacity: 1;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 3.5s;
      transition-delay: 3.5s; }
  #eighteen-hours.on .woman.left {
    left: 50%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.15, 1.5);
    transition-timing-function: cubic-bezier(0, 0, 0.15, 1.5);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  #eighteen-hours.on .woman.right {
    right: 50%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.15, 1.5);
    transition-timing-function: cubic-bezier(0, 0, 0.15, 1.5);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  #eighteen-hours.on .woman .feature-icon.selected {
    width: 30px;
    height: 30px;
    -webkit-animation: inherit;
    animation: inherit;
    background-color: #9b876e;
    line-height: 28px;
    font-weight: normal;
    color: #fff; }
    #eighteen-hours.on .woman .feature-icon.selected:before {
      font-family: "fontello";
      content: "\e814";
      font-size: 15px;
      line-height: 28px; }
  #eighteen-hours.on .woman .feature-icon-1 {
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 4s;
    transition-delay: 4s; }
    #eighteen-hours.on .woman .feature-icon-1.selected {
      top: 295px;
      left: 125px; }
  #eighteen-hours.on .woman .feature-icon-2 {
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 4.5s;
    transition-delay: 4.5s; }
    #eighteen-hours.on .woman .feature-icon-2.selected {
      top: 385px;
      left: 230px; }
  #eighteen-hours.on .woman .feature-icon-3 {
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 5s;
    transition-delay: 5s; }
    #eighteen-hours.on .woman .feature-icon-3.selected {
      top: 305px;
      left: 200px; }
  #eighteen-hours.on .woman .feature-icon-4 {
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 5.5s;
    transition-delay: 5.5s; }
    #eighteen-hours.on .woman .feature-icon-4.selected {
      top: 555px;
      left: 225px; }
  #eighteen-hours.on .woman .feature-animate {
    -webkit-animation: scaleCircle 2s infinite;
    animation: scaleCircle 2s infinite; }

#editors-pick {
  margin-top: 30px; }
  #editors-pick header h4 {
    margin-bottom: 10px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px; }
  #editors-pick header .sorter {
    overflow: hidden;
    position: relative;
    top: auto;
    right: auto;
    margin-bottom: 15px;
    text-align: center; }
    #editors-pick header .sorter li {
      float: none;
      display: inline-block;
      margin-left: 5px; }

#event {
  margin-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px; }
  #event .bx-wrapper .bx-viewport ul li a .img-responsive {
    margin: 0 auto; }
  #event .bx-wrapper .bx-controls {
    margin-top: 10px;
    text-align: center; }
    #event .bx-wrapper .bx-controls .bx-pager {
      display: inline-block; }
      #event .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
        display: inline; }
        #event .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
          float: left;
          width: 11px;
          height: 11px;
          border: 1px solid #7d7d7d;
          border-radius: 50%; }
          #event .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
            background-color: #7d7d7d; }
        #event .bx-wrapper .bx-controls .bx-pager .bx-pager-item + .bx-pager-item .bx-pager-link {
          margin-left: 7px; }

/*# sourceMappingURL=main.css.map */
